body{
    font-family: arial,sans-serif;
    font-size:small;
}
strong{
    font-weight: bold;
}
.relat{
    position:relative;
}
#centre-col{
    margin-left:180px;
    margin-right:264px;
    position:relative;
    width:652px;
}
.als-h{
    color: #222;
    font-size: 20px;
    padding: 9px 16px;
    line-height: 1.3;
    font-weight: normal;
    margin: 0;
}
.qqcnt{
    position:relative;
    display:flex;
    flex-direction: row;
}
.qq{
    padding-right:40px;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding-bottom: 9px;
    padding-top: 9px;
    position: relative;
    line-height: 1.58;
    padding-left:16px;
}
.peopleq{
    width:652px;
}
.qdown{
    color: #70757A;
    margin-top: 12px;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: absolute !important;
    width: 24px;
    right:16px;
}
#alsoask{
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    width:652px;
}

.g{
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 14px;
    font-family: arial,sans-serif;
    line-height: 1.2;
    text-align: left;
    width: 600px;
}
#qa-cnt{
    margin-bottom:40px;
}
.q-border{
    width:220px;
}
.qbox{
    padding:13px 16px 11px;
    box-sizing: border-box;
    height:216px;
    margin:4px;
    width:212px;
    border:1px solid #dfe1e5;
    border-radius:8px;
}
.q-cnt{
    display:flex;
}
#qa h3{
    font-size:20px;
    line-height:1.3;
    font-weight: normal;
}
.l1{
    display:flex;
}
.lend-cnt{
    position:relative;
    bottom:-80px;
}
.lend-cnt1{
    position:relative;
    bottom: -60px;
}
.lend-cnt2{
    position:relative;
    bottom: -60px;
}
.lend{
    display:flex;
    position:relative;    
}
.lend span{
    height: 12px;
    line-height: 12px;
    width: 12px;
    margin-bottom: 2px;
    margin-right: 4px;
    vertical-align: middle;
    display:inline-block;
}
.ans-cnt{
    align-self: center;
    border: 1px solid #dfe1e5;
    border-radius:14px;
    min-width:88px;
    text-align:center;
    font-size:14px;
}
.ans-box{
   
    padding: 3px 12px 3px 8px;
    font-size: 12px;
    border-radius: 14px;
    cursor: pointer;
    line-height: 20px;
}
.ans-box svg path{
    fill:#4285f4;
}
.like-box{
    display:flex;
    position:relative;
    margin-left:10px;
}
.like-box svg{
    display:block;
    height:16px;
    width:16px;
}
.up-cnt{
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 1.2px;
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
    height: 28px;
    outline: none;
    transition: background-color 0.1s;
    vertical-align: sub;
    width: 28px;
}
.thumbs-up{
    height: 16px;
    line-height: 16px;
    width: 16px;
    cursor: pointer;
    fill: rgba(0,0,0,.38);
    margin: 4px 5px 0;
    
}
.down-cnt{
    margin-left: 8px;
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 1.2px;
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
    height: 28px;
    outline: none;
    transition: background-color 0.1s;
    vertical-align: sub;
    width: 28px;
}
.thumbs-down{
    cursor: pointer;
    fill: rgba(0,0,0,.38);
    margin: 4px 5px 0;
}
.qdays{
    color: #70757A;
    font-size: 12px;
    margin-top: 8px;
}
.qbox a{
    color: #1967d2;
    display: block;
    font-size: 13px;
    margin-top: 8px;
    text-decoration:none;
}
.qbox a:hover{
    text-decoration:underline;
}
.question{
    font-size:14px;
    line-height:20px;
}
#ask{
    padding: 13px 16px 11px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    box-shadow: none;
}
#ask-cnt{
    padding-top:16px;
}
#ask-2{
    color: #70757A;
    display: block;
    font-size: 12px;
    padding-left: 56px;
    padding-top: 8px;
}
#ask-img-pry{
    height: 40px;
    margin-right: 8px;
    width: 40px;
    display:block;
}
#qfieldcnt{
    background-color: #f9f9f9;
    border: thin solid #e0e0e0;
    border-radius: 5px;
    border-top-left-radius: 0px;
    box-sizing: border-box;
    color: #70757A;
    flex-grow: 1;
    margin-right: 16px;
    outline: none;
    height: 40px;
}
#qfield{
    margin-top: 8px;
}
.qspan{
    font-size: 14px;
    margin-left: 12px;
    vertical-align: middle;
}
.qsvg{
    height:18px;line-height:18px;width:18px;
    color: #9e9e9e;
    float: right;
    margin-right: 8px;
    margin-top: 2px;
    fill: currentColor;
    position:relative;
}
#flap{
    background-color: #fafafa;
    border-top: thin solid #e0e0e0;
    height: 8px;
    left: 1.5px;
    overflow: hidden;
    position: relative;
    width: 8px;
}
#flapin{
    background-color: #fff;
    border-radius: 50%;
    border-top: thin solid #e0e0e0;
    bottom: 0px;
    box-shadow: 0.1px 0.1px 0.2px #616161;
    height: 16px;
    position: relative;
    right: 9.5px;
    top: -0.5px;
    width: 16px;
}

.opt{
    left:4px;
    position:relative;
}
.pad{
    padding-top:16px;
    padding-bottom:16px;
}
.rs-cnt{
    border:1px solid #dfe1e5;
    border-radius:8px;
    margin-bottom:27px;
    position:relative;
}
.line1{
    color:#70757a;
    margin:0 0 3px 16px;
}
.line2{
    margin: 0 16px;
    color: #222;
    line-height: 1.3;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}
.topic{
    flex:1;
}
.more{
    font-size:14px;
}
.more a{
    color:#70757a;
    text-decoration: none;
    cursor: pointer;
}
.more a:hover{
    text-decoration:underline;
}
.content{
    padding-bottom: 4px;
    padding-top:14px;
    overflow:hidden;
    font-size:14px;
}
.content a{
    color:#1a0dab;
    text-decoration: none;
}
.content a:hover{
    text-decoration:underline;
}
.child:first-child{
    padding-left: 17px;
}
.child{
    width:77px;
    padding-left:13px;
    line-height: 1.29;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: left;
    vertical-align: top;
}
.child div{
    white-space: normal;
    margin: 3px 0 -1px;
    padding-bottom: 1px;
    text-overflow: ellipsis;
}
.rs-img{
    width:77px;
    height:77px;
}
#rs3-cnt{
    margin-bottom:28px;
}
#rs3-h{
    padding:0 0 12px 0;
    font-size: 20px;
    line-height: 1.3;
}
#rs3-cnt h3{
    color:#222;
    padding-bottom: 8px;
}
.rs3-col{
    font-size: 14px;
    margin-top: -1px;
    padding-bottom: 1px;
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    max-width: 100%;
    box-sizing: border-box;
}
#feedback{
    bottom:-25;
    right:0;
    position:absolute;
    font-size:12px;
    padding:4px 8px;
}
#feedback a{
    color:#70757a;
    text-decoration:none;
    font-style:italic;
}
#feedback a:hover{
    text-decoration:underline
}
#card p{
    margin:0;
}
#card a{
    text-decoration:none;
    color:#1a0dab;
    padding: 3px 32px 3px 0;
    display: inline-block;
}
#card a:hover{
    text-decoration:underline;
    cursor:pointer;
}
#nav-table{
    width:652px;
    visibility:visible;
    
}
#table{
    border-collapse:collapse;
    margin:30px auto 30px;
    text-align:center;
}
#table a{
    color:#4285f4;
    text-decoration: none;
    font-size:14px;
}
#table a:hover{
    color:#4285f4;
    text-decoration: underline;
    cursor:pointer;
}
#G{
    width:28px;
    background:url(https://www.google.com/images/nav_logo299_hr.webp) no-repeat;
    background-position: -24px 0;
    background-size: 167px;
    height:40px;
    display:block;
}
#first-o{
    color:rgba(0,0,0,.87);
    font-weight:normal
}
#O{
    background:url(https://www.google.com/images/nav_logo299_hr.webp) no-repeat;
    background-position:-53px 0;
    background-size:167px;
    width:20px;
    display:block;
    height:40px;
}
#o-seq{
    background:url(https://www.google.com/images/nav_logo299_hr.webp) no-repeat;
    background-position:-74px 0;
    background-size:167px;
    width:20px;
    display:block;
    height:40px;
}
#gle{
    background:url(https://www.google.com/images/nav_logo299_hr.webp) no-repeat;
    background-position:-96px 0;
    background-size:167px;
    width:71px;
    display:block;
    height:40px;
}
#fbar{
    background:#f2f2f2;
    line-height:40px;
    min-width:980px;
    border-top:1px solid #e4e4e4;
    bottom:0;
    left:0;
    position:relative;
    right:0;
    width:100%;
    font-size:14px;
    color:rgba(0,0,0,.54);
}
#fbar a{
    text-decoration:none;
    color:#5f6368;
    display:inline-block;
    padding-left:27px;
    margin:0 !important;
    cursor:pointer;
    white-space:nowrap;
    
}
#fbar a:hover{
    text-decoration:none;
    color:#333;
}
#fbar a:visited{
    color:#5f6368;
}
#fbar a:active{
    color:#dd4b39;
}
#loc-bar{
    border-bottom:1px solid #e4e4e4;
    text-align:left;
    color:rgba(0,0,0,.54);
    padding-left:27px;
    font-size:15px;
    
}
#loc-fix{
    margin-left:180px;
}
#foot-left{
    white-space: nowrap;
    margin-left:180px;
}
.low-fix{
    margin-left:-27px;
}